Repository eykd/prosemark: changes, and which pre-commit hooks are due for each by the changed paths.
All: mypy-check, pytest-check

.pre-commit-config.yaml:

default_language_version:
  python: python3.13
repos:

- repo: https://github.com/pre-commit/pre-commit-hooks
  rev: v5.0.0
  hooks:
    - id: trailing-whitespace
    - id: end-of-file-fixer
    - id: check-added-large-files
    - id: check-merge-conflict
    - id: mixed-line-ending
- repo: https://github.com/astral-sh/ruff-pre-commit
  rev: v0.11.8
  hooks:
    - id: ruff
      args: [ --fix ]
    - id: ruff-format
- repo: https://github.com/astral-sh/uv-pre-commit
  rev: 0.7.2
  hooks:
    - id: uv-lock
- repo: local
  hooks:
    - id: mypy-check
      name: mypy-check
      entry: uv run mypy src tests
      language: system
      types_or:
      - python
    - id: pytest-check
      name: pytest-check
      entry: uv run ./scripts/fulltests.sh
      language: system
      pass_filenames: false
      types_or:
        - python
        - toml

feat(app): implement AuditBinder use case for binder integrity validation
  src/prosemark/adapters/fake_node_repo.py
  src/prosemark/app/use_cases.py
  tests/test_app_audit_binder.py
Due: mypy-check, pytest-check

feat(adapters): implement binder scaffold generator for new prosemark projects
  src/prosemark/adapters/binder_scaffold.py
  src/prosemark/exceptions.py
  tests/test_adapters_binder_scaffold.py
Due: mypy-check, pytest-check

chore: update claude config
  .claude/settings.local.json
Due: none

chore: install spec-kit, add constitution
  .claude/commands/constitution.md
  .claude/commands/implement.md
  .claude/commands/plan.md
  .claude/commands/specify.md
  .claude/commands/tasks.md
  .specify/memory/constitution.md
  .specify/scripts/bash/check-implementation-prerequisites.sh
  .specify/scripts/bash/check-task-prerequisites.sh
  .specify/scripts/bash/common.sh
  .specify/scripts/bash/create-new-feature.sh
  .specify/scripts/bash/get-feature-paths.sh
  .specify/scripts/bash/setup-plan.sh
  .specify/scripts/bash/update-agent-context.sh
  .specify/templates/agent-file-template.md
  .specify/templates/plan-template.md
  .specify/templates/spec-template.md
  .specify/templates/tasks-template.md
Due: none

chore: specify and plan MVP using spec-kit
  .claude/settings.local.json
  CLAUDE.md
  specs/001-mvp-i-ve/contracts/cli-commands.md
  specs/001-mvp-i-ve/contracts/domain-interfaces.md
  specs/001-mvp-i-ve/data-model.md
  specs/001-mvp-i-ve/plan.md
  specs/001-mvp-i-ve/quickstart.md
  specs/001-mvp-i-ve/research.md
  specs/001-mvp-i-ve/spec.md
Due: none

chore: add tasks for 001
  .claude/settings.local.json
  specs/001-mvp-i-ve/plan.md
  specs/001-mvp-i-ve/tasks.md
Due: none

feat: add docker Claude Code isolation environment
  Dockerfile
  docker-compose.yml
  enter-shell.sh
  init-firewall.sh
  start-container.sh
  stop-container.sh
Due: none

chore: ignore .history/
  .gitignore
Due: none

refactor: modernize code style and improve type safety
  src/prosemark/cli/__init__.py
  src/prosemark/domain/entities.py
  src/prosemark/domain/models.py
  tests/contract/test_cli_add.py
  tests/contract/test_cli_audit.py
  tests/contract/test_cli_edit.py
  tests/contract/test_cli_init.py
  tests/contract/test_cli_materialize.py
  tests/contract/test_cli_move.py
  tests/contract/test_cli_remove.py
  tests/contract/test_cli_structure.py
  tests/contract/test_cli_write.py
Due: mypy-check, pytest-check

refactor: enhance data models and clean coverage artifacts
  .coverage
  .gitignore
  src/prosemark/cli/__init__.py
  src/prosemark/domain/models.py
  tests/contract/test_node.py
Due: mypy-check, pytest-check

fix: uv sync --all-groups in container
  enter-shell.sh
Due: none

feat(cli): implement complete CLI interface with modular command structure
  .claude/commands/ensure-python-quality.md
  specs/001-mvp-i-ve/tasks.md
  src/prosemark/adapters/id_generator.py
  src/prosemark/cli/__init__.py
  src/prosemark/cli/add.py
  src/prosemark/cli/audit.py
  src/prosemark/cli/edit.py
  src/prosemark/cli/init.py
  src/prosemark/cli/main.py
  src/prosemark/cli/materialize.py
  src/prosemark/cli/move.py
  src/prosemark/cli/remove.py
  src/prosemark/cli/structure.py
  src/prosemark/cli/write.py
  src/prosemark/domain/binder.py
  tests/contract/test_cli_add.py
  tests/contract/test_cli_audit.py
  tests/contract/test_cli_edit.py
  tests/contract/test_cli_materialize.py
  tests/contract/test_cli_move.py
  tests/contract/test_cli_remove.py
  tests/contract/test_cli_structure.py
Due: mypy-check, pytest-check

feat(quality): achieve 100% test coverage and comprehensive Python quality compliance
  .env.test
  _binder.md
  src/prosemark/cli/audit.py
  src/prosemark/cli/edit.py
  src/prosemark/cli/init.py
  src/prosemark/cli/main.py
  src/prosemark/cli/materialize.py
  src/prosemark/cli/move.py
  src/prosemark/cli/remove.py
  src/prosemark/cli/structure.py
  src/prosemark/cli/write.py
  tests/conftest.py
  tests/test_adapters_console_pretty.py
  tests/test_adapters_daily_repo_fs.py
  tests/test_adapters_editor_launcher_system.py
  tests/test_adapters_fake_console.py
  tests/test_adapters_frontmatter_codec.py
  tests/test_adapters_logger_stdout.py
  tests/test_adapters_markdown_binder_parser.py
  tests/test_adapters_node_repo_fs.py
  tests/test_binder_repo_fs_coverage.py
  tests/test_cli_add_coverage.py
  tests/test_cli_audit_coverage.py
  tests/test_cli_edit_coverage.py
  tests/test_cli_init_missing_coverage.py
  tests/test_cli_main_missing_coverage.py
  tests/test_cli_main_simple.py
  tests/test_cli_materialize_coverage.py
  tests/test_cli_move_coverage.py
  tests/test_cli_remove_coverage.py
  tests/test_cli_structure_coverage.py
  tests/test_cli_structure_missing_coverage.py
  tests/test_cli_write_coverage.py
  tests/test_domain_entities.py
  tests/test_domain_entities_edge_cases.py
  tests/test_domain_models.py
  tests/test_domain_models_edge_cases.py
  tests/test_ports_console_port_coverage.py
  tests/test_quick_coverage_boost.py
Due: mypy-check, pytest-check

chore: fix linting, test paths
  src/prosemark/domain/models.py
  src/prosemark/domain/policies.py
  tests/contract/test_editor_port.py
  tests/contract/test_logger.py
  tests/test_adapters_node_repo_fs.py
  tests/test_cli_main_missing_coverage.py
  tests/test_cli_structure_missing_coverage.py
  tests/test_domain_models.py
Due: mypy-check, pytest-check

docs: strengthen quality standards to 100% compliance requirement
  .specify/memory/constitution.md
  .specify/templates/plan-template.md
Due: none

feat(cli): add /commit slash command for conventional commits
  .claude/commands/commit.md
Due: none

chore: update claude config
  .claude/agents/python-linter-fixer.md
  .claude/agents/python-mypy-type-error-fixer.md
  .claude/agents/python-test-runner.md
  .claude/settings.json
Due: none

fix: emphasize quality to Claude
  CLAUDE.md
Due: none

fix: remove and ignore _binder.md
  .gitignore
  _binder.md
Due: none

chore: tweak agents
  .claude/agents/python-test-runner.md
  .claude/commands/ensure-python-quality.md
Due: none

fix: 100% test coverage, linting, typing errors addressed
  .claude/agents/python-test-runner.md
  src/prosemark/adapters/fake_id_generator.py
  src/prosemark/adapters/fake_node_repo.py
  src/prosemark/adapters/markdown_binder_parser.py
  src/prosemark/adapters/node_repo_fs.py
  src/prosemark/app/audit_project.py
  src/prosemark/app/materialize_node.py
  src/prosemark/app/move_node.py
  src/prosemark/app/use_cases.py
  tests/test_adapters_fake_node_repo.py
  tests/test_adapters_frontmatter_codec.py
  tests/test_adapters_markdown_binder_parser.py
  tests/test_adapters_node_repo_fs.py
  tests/test_app_add_node_coverage.py
  tests/test_app_audit_project_coverage.py
  tests/test_app_init_project_coverage.py
  tests/test_app_materialize_node_coverage.py
  tests/test_app_move_node_coverage.py
  tests/test_app_remove_node_coverage.py
  tests/test_cli_audit_coverage.py
  tests/test_ports_console_port_coverage.py
Due: mypy-check, pytest-check

feat: complete systematic python quality assurance with materialize-all implementation
  CLAUDE.md
  specs/002-materialize-all-the/contracts/cli_materialize_all.yaml
  specs/002-materialize-all-the/contracts/use_case_materialize_all.yaml
  specs/002-materialize-all-the/data-model.md
  specs/002-materialize-all-the/plan.md
  specs/002-materialize-all-the/quickstart.md
  specs/002-materialize-all-the/research.md
  specs/002-materialize-all-the/spec.md
  specs/002-materialize-all-the/tasks.md
  src/prosemark/app/materialize_all_placeholders.py
  src/prosemark/cli/main.py
  src/prosemark/domain/batch_materialize_result.py
  src/prosemark/domain/materialize_failure.py
  src/prosemark/domain/materialize_result.py
  src/prosemark/domain/placeholder_summary.py
  tests/__init__.py
  tests/conftest.py
  tests/contract/test_cli_materialize_all.py
  tests/contract/test_cli_materialize_batch.py
  tests/contract/test_cli_materialize_empty.py
  tests/contract/test_cli_materialize_partial.py
  tests/contract/test_use_case_materialize_all.py
  tests/fixtures/__init__.py
  tests/fixtures/binder_with_placeholders.py
  tests/helpers/__init__.py
  tests/helpers/batch_assertions.py
  tests/integration/test_materialize_all_basic.py
  tests/integration/test_materialize_all_empty.py
  tests/integration/test_materialize_all_partial.py
  tests/integration/test_materialize_all_performance.py
  tests/integration/test_materialize_all_validation.py
  tests/test_app_init_project_coverage.py
  tests/test_cli_main_simple.py
  tests/test_domain_batch_materialize_result.py
Due: mypy-check, pytest-check

feat: comprehensive python quality assurance with 99% test coverage
  src/prosemark/cli/main.py
  tests/contract/test_cli_materialize_all.py
  tests/contract/test_cli_materialize_empty.py
  tests/integration/test_materialize_all_basic.py
  tests/integration/test_materialize_all_empty.py
  tests/integration/test_materialize_all_partial.py
  tests/integration/test_materialize_all_performance.py
  tests/integration/test_materialize_all_validation.py
  tests/test_cli_main_coverage.py
  tests/test_domain_models_coverage.py
  tests/test_final_coverage_boost.py
  tests/test_materialize_all_placeholders_coverage.py
Due: mypy-check, pytest-check

feat: achieve 100% test coverage with comprehensive Python quality assurance
  pyproject.toml
  src/prosemark/domain/batch_materialize_result.py
  src/prosemark/domain/materialize_failure.py
  tests/performance/test_large_binder.py
  tests/test_cli_main_coverage.py
  tests/test_cli_main_targeted_coverage.py
  tests/test_domain_batch_materialize_result.py
  tests/test_final_coverage_boost.py
  tests/test_materialize_all_placeholders_coverage.py
  uv.lock
Due: mypy-check, pytest-check

feat: complete python quality assurance with 100% type safety and compliance
  src/prosemark/adapters/fake_config.py
  src/prosemark/cli/init.py
  src/prosemark/cli/main.py
  src/prosemark/ports/config_port.py
  tests/helpers/batch_assertions.py
  tests/test_ports_config_port.py
Due: mypy-check, pytest-check

fix: make quality checks safer and less self-conflicted
  .claude/agents/python-linter-fixer.md
  .claude/agents/python-mypy-type-error-fixer.md
  .pre-commit-config.yaml
  scripts/runlinters-safe.sh
  scripts/safe-quality-check.sh
  tests/contract/test_id_generator.py
  tests/integration/test_file_safety.py
Due: mypy-check, pytest-check

refactor: enhance Python code quality with comprehensive linting and static analysis improvements
  pyproject.toml
  src/prosemark/adapters/editor_launcher_system.py
  src/prosemark/adapters/frontmatter_codec.py
  src/prosemark/adapters/markdown_binder_parser.py
  src/prosemark/app/materialize_all_placeholders.py
  src/prosemark/app/use_cases.py
  src/prosemark/cli/add.py
  src/prosemark/cli/init.py
  src/prosemark/cli/main.py
  src/prosemark/domain/entities.py
  src/prosemark/domain/materialize_result.py
  src/prosemark/domain/models.py
  tests/contract/test_cli_edit.py
  tests/helpers/batch_assertions.py
  tests/integration/test_cross_platform.py
  tests/integration/test_materialize_all_empty.py
  tests/test_adapters_fake_logger.py
  tests/test_materialize_all_placeholders_coverage.py
Due: mypy-check, pytest-check

fix: stop hooks from making changes
  .claude/settings.json
Due: none

fix: add types-psutil dependency to resolve mypy typing errors
  pyproject.toml
  uv.lock
Due: pytest-check

docs: update docs to show python 3.13+
  README.md
Due: none

chore: switch to using uv-dynamic-versioning
  .gitignore
  pyproject.toml
  src/prosemark/__init__.py
  uv.lock
Due: mypy-check, pytest-check

chore: add github action CI
  .github/workflows/main.yml
Due: none

fix: stop tracking hypothesis files
  .gitignore
  .hypothesis/constants/16869cb74f75645f
  .hypothesis/constants/16875fe8b9a08f3a
  .hypothesis/constants/18ea69a4afb0ead0
  .hypothesis/constants/29e0c41b5f2ab4a2
  .hypothesis/constants/2fb8ec4518a4def9
  .hypothesis/constants/2fe7f00ca7ad9ba9
  .hypothesis/constants/344c530ab4493845
  .hypothesis/constants/37193f3e1feddeb1
  .hypothesis/constants/38e005286b9855ce
  .hypothesis/constants/3d29e16827875afb
  .hypothesis/constants/3d5d7d454d6b727e
  .hypothesis/constants/57f40f9b41e0ac7c
  .hypothesis/constants/5e2beacd32024ae8
  .hypothesis/constants/676adc9ca44ced7b
  .hypothesis/constants/75136d8cde770d49
  .hypothesis/constants/7cf0a95bae83a4c9
  .hypothesis/constants/8515c5449ffbbc3d
  .hypothesis/constants/86b09cb33fe67c03
  .hypothesis/constants/8bd54d880a8e8547
  .hypothesis/constants/90aee3e0b1d21d4d
  .hypothesis/constants/96a15a478139f049
  .hypothesis/constants/9965a80a92ad0742
  .hypothesis/constants/9b995e65f2d01642
  .hypothesis/constants/a6ebaf779d0f548f
  .hypothesis/constants/a842d5d6f6c0fc13
  .hypothesis/constants/b62478f39985a498
  .hypothesis/constants/bbb9f3c53419d656
  .hypothesis/constants/c53fdbebe9c0e121
  .hypothesis/constants/c86ff10f44a54a00
  .hypothesis/constants/ca81d19a3a6ed851
  .hypothesis/constants/e1bc892c700f1969
  .hypothesis/constants/e526dde2bdb9d973
  .hypothesis/constants/edc5cb2033014b47
  .hypothesis/constants/f0975201be274ffe
  .hypothesis/constants/f52e5e2622d2e917
  .hypothesis/examples/04e6b3400353b141/0db8583686b9fc87
  .hypothesis/examples/0db8583686b9fc87/98d6d7392d5c1af0
Due: none

chore: add authors
  pyproject.toml
Due: pytest-check

fix: switch to prefixed version tags
  pyproject.toml
Due: pytest-check
