Repository eykd/prosemark: changes, and which pre-commit hooks are due for each by the changed paths.
All: mypy-check, pytest-check

mypy-check:
  name: mypy-check
  entry: uv run mypy src tests
  language: system

pytest-check:
  name: pytest-check
  entry: uv run ./scripts/fulltests.sh
  language: system
  pass_filenames: false

chore: be more consistent in naming--text, card, notes
  SPEC.md
  src/prosemark/adapters/cli.py
  src/prosemark/cli.py
  src/prosemark/domain/factories.py
  src/prosemark/domain/nodes.py
  src/prosemark/domain/projects.py
  src/prosemark/parsers/nodes.py
  src/prosemark/repositories/project.py
  tests/test_cli.py
  tests/test_domain_nodes.py
  tests/test_domain_projects.py
  tests/test_parsers_nodes.py
  tests/test_repositories_project.py
Due: mypy-check, pytest-check

docs: update spec
  SPEC.md
Due: none

I'll help you update the CLI to add the session command. Could you please share the contents of `src/prosemark/cli.py` so I can make the necessary modifications?
  src/prosemark/adapters/__init__.py
  src/prosemark/adapters/session.py
Due: mypy-check, pytest-check

fix: Resolve mypy type errors in session adapter
  src/prosemark/adapters/session.py
  src/prosemark/cli.py
  tests/test_adapters_session.py
Due: mypy-check, pytest-check

refactor: Fix type errors in session, cli, and test files
  src/prosemark/adapters/session.py
  src/prosemark/cli.py
  tests/test_adapters_session.py
Due: mypy-check, pytest-check

feat: add prompt-toolkit dep
  pyproject.toml
  uv.lock
Due: pytest-check

refactor: Improve datetime handling and type safety in session code
  src/prosemark/adapters/session.py
  src/prosemark/cli.py
  tests/test_adapters_session.py
Due: mypy-check, pytest-check

fix: update type ignore comments and KeyPressEvent import
  src/prosemark/adapters/session.py
  tests/test_adapters_session.py
Due: mypy-check, pytest-check

chore: fix linting errors, test errors
  src/prosemark/adapters/session.py
  src/prosemark/cli.py
  tests/test_adapters_session.py
Due: mypy-check, pytest-check

feat: display cursor indicator in read-only committed text pane
  src/prosemark/adapters/session.py
Due: mypy-check, pytest-check

feat: give the committed text more room
  src/prosemark/adapters/session.py
Due: mypy-check, pytest-check

fix: properly scroll committed text window to the bottom
  src/prosemark/adapters/session.py
Due: mypy-check, pytest-check

fix: proper ruff check invocation
  CONVENTIONS.md
Due: none

feat: include card and notes in session window display
  src/prosemark/adapters/session.py
Due: mypy-check, pytest-check

fix: address linting errors
  src/prosemark/adapters/cli.py
  src/prosemark/cli.py
Due: mypy-check, pytest-check

tests: add card session tests
  src/prosemark/adapters/session.py
  tests/test_adapters_session.py
Due: mypy-check, pytest-check

fix: address test failures, coverage, linting
  src/prosemark/adapters/cli.py
  src/prosemark/cli.py
  src/prosemark/repositories/project.py
  src/prosemark/storages/base.py
  src/prosemark/storages/filesystem.py
  src/prosemark/storages/inmemory.py
  tests/test_cli.py
Due: mypy-check, pytest-check

tests: address coverage deficiencies and linting problems
  src/prosemark/adapters/cli.py
  tests/test_cli.py
  tests/test_storages_inmemory.py
Due: mypy-check, pytest-check

feat: add click-extra for vibrant colors in CLI --help
  pyproject.toml
  src/prosemark/cli.py
  uv.lock
Due: mypy-check, pytest-check

chore: remove config_option
  src/prosemark/cli.py
Due: mypy-check, pytest-check

feat: implement configuration system with hierarchical inheritance and validation
  .prosemark/config.yaml
  src/prosemark/config/__init__.py
  src/prosemark/config/discovery.py
  src/prosemark/config/inheritance.py
  src/prosemark/config/manager.py
  src/prosemark/config/models.py
  tests/config/test_config.py
  tests/config/test_integration.py
Due: mypy-check, pytest-check

test: add comprehensive test suite for configuration system
  tests/test_config.py
Due: mypy-check, pytest-check

refactor: update type annotations to use `X | None` syntax
  tests/test_config.py
Due: mypy-check, pytest-check

refactor: Improve type handling and type hints in config models
  src/prosemark/config/models.py
  tests/test_config_integration.py
Due: mypy-check, pytest-check

I'll help you apply these changes. Based on the diffs, I'll generate a commit message that describes the changes:
  src/prosemark/config/models.py
  tests/test_config_integration.py
Due: mypy-check, pytest-check

The changes look good. Let me help you apply these changes and run the tests to verify.
  tests/test_config.py
  tests/test_config_integration.py
Due: mypy-check, pytest-check

chore: add more conventions; link CLAUDE.md to CONVENTIONS.md
  CLAUDE.md
  CONVENTIONS.md
Due: none

chore: clean up, reformat, fix tests; full test coverage
  src/prosemark/config/discovery.py
  src/prosemark/config/inheritance.py
  src/prosemark/config/manager.py
  src/prosemark/config/models.py
  tests/config/test_config.py
  tests/config/test_integration.py
  tests/test_config.py
Due: mypy-check, pytest-check

feat: add claude code config
  .claude/settings.local.json
Due: none

fix: use more normal timestamp prefix
  .claude/settings.local.json
  src/prosemark/domain/nodes.py
  tests/conftest.py
  tests/test_cli.py
  tests/test_domain_nodes.py
  tests/test_domain_projects.py
Due: mypy-check, pytest-check

feat: add regular node session command
  src/prosemark/cli.py
  tests/test_cli.py
Due: mypy-check, pytest-check

feat: add freewriting sessions
  src/prosemark/adapters/session.py
  src/prosemark/cli.py
  src/prosemark/repositories/project.py
  tests/test_adapters_session.py
  tests/test_cli.py
Due: mypy-check, pytest-check

refactor: blow up the world
  SPEC.md
  src/prosemark/__main__.py
  src/prosemark/adapters/__init__.py
  src/prosemark/adapters/cli.py
  src/prosemark/adapters/session.py
  src/prosemark/cli.py
  src/prosemark/config/__init__.py
  src/prosemark/config/discovery.py
  src/prosemark/config/inheritance.py
  src/prosemark/config/manager.py
  src/prosemark/config/models.py
  src/prosemark/domain/__init__.py
  src/prosemark/domain/factories.py
  src/prosemark/domain/nodes.py
  src/prosemark/domain/projects.py
  src/prosemark/parsers/__init__.py
  src/prosemark/parsers/nodes.py
  src/prosemark/parsers/outlines.py
  src/prosemark/repositories/__init__.py
  src/prosemark/repositories/project.py
  src/prosemark/storages/__init__.py
  src/prosemark/storages/base.py
  src/prosemark/storages/filesystem.py
  src/prosemark/storages/inmemory.py
Due: mypy-check, pytest-check

chore: add claude permissions
  .claude/settings.local.json
Due: none

refactor: blow up the tests too
  tests/conftest.py
  tests/test_adapters_session.py
  tests/test_cli.py
  tests/test_config.py
  tests/test_config_integration.py
  tests/test_domain_nodes.py
  tests/test_domain_projects.py
  tests/test_parsers_nodes.py
  tests/test_parsers_outlines.py
  tests/test_repositories_project.py
  tests/test_storages_filesystem.py
  tests/test_storages_inmemory.py
Due: mypy-check, pytest-check

spec: add new MVP spec
  specs/prosemark_mvp_spec.md
Due: none

fix: move CONVENTIONS.md to AGENTS.md
  AGENTS.md
Due: none

chore: tell agents about Linear project
  AGENTS.md
Due: none

chore: improve agent instructions
  AGENTS.md
Due: none

chore: claude config
  .claude/settings.local.json
Due: none

Path conditions:
  mypy-check: any of: \.py$
  pytest-check: any of: \.py$, \.toml$
