Repository eykd/prosemark: changes, and which pre-commit hooks are due for each by the changed paths.
All: mypy-check, pytest-check

mypy-check:
  name: mypy-check
  entry: uv run mypy src tests
  language: system

pytest-check:
  name: pytest-check
  entry: uv run ./scripts/fulltests.sh
  language: system
  pass_filenames: false

refactor: move repositories to new home; improve markdown adapter tests
  src/prosemark/adapters/markdown.py
  src/prosemark/storages/__init__.py
  src/prosemark/storages/repositories/__init__.py
  src/prosemark/storages/repositories/base.py
  src/prosemark/storages/repositories/exceptions.py
  src/prosemark/storages/repositories/inmemory.py
  tests/test_adapters_markdown.py
  tests/test_storages_repositories.py
Due: mypy-check, pytest-check

feat: implement basic CLI structure with Click and project commands
  src/prosemark/cli.py
  tests/test_cli.py
Due: mypy-check, pytest-check

fix: Add type stubs and imports to resolve mypy errors in CLI module
  src/prosemark/cli.py
  tests/test_cli.py
Due: mypy-check, pytest-check

feat: Add type stubs and improve type handling for click imports
  src/prosemark/cli.py
  src/prosemark/stubs/__init__.py
  src/prosemark/stubs/click.pyi
  tests/test_cli.py
Due: mypy-check, pytest-check

feat: add click dependency
  pyproject.toml
  uv.lock
Due: pytest-check

chore: remove click stubs
  src/prosemark/stubs/__init__.py
  src/prosemark/stubs/click.pyi
Due: mypy-check, pytest-check

feat: Update TASKS.md to mark CLI implementation tasks as complete
  TASKS.md
Due: none

fix: add pragma to exclude branch from coverage in cli.py
  src/prosemark/cli.py
Due: mypy-check, pytest-check

refactor: simplify type checking and quote handling in cli.py
  src/prosemark/cli.py
Due: mypy-check, pytest-check

refactor: rename list command to list_projects and fix nested with statements
  src/prosemark/cli.py
  tests/test_cli.py
Due: mypy-check, pytest-check

feat: Implement Node Management commands in CLI
  TASKS.md
  src/prosemark/cli.py
  tests/test_cli.py
Due: mypy-check, pytest-check

fix: add type annotation for section_content and import Node in tests
  src/prosemark/cli.py
  tests/test_cli.py
Due: mypy-check, pytest-check

feat: Add comprehensive CLI test cases for edit and structure commands
  tests/test_cli.py
Due: mypy-check, pytest-check

fix: add missing click import in test_cli.py
  tests/test_cli.py
Due: mypy-check, pytest-check

fix: correctly parse title in edit command
  src/prosemark/cli.py
Due: mypy-check, pytest-check

fix: update node edit command to correctly extract title
  src/prosemark/cli.py
Due: mypy-check, pytest-check

fix: Correct title extraction in edit command parsing logic
  src/prosemark/cli.py
Due: mypy-check, pytest-check

chore: Add pragma comments to error handling paths for test coverage
  src/prosemark/cli.py
Due: mypy-check, pytest-check

feat: Add pragmas to handle uncovered error conditions in CLI
  src/prosemark/cli.py
Due: mypy-check, pytest-check

refactor: get logic out of cli
  src/prosemark/adapters/markdown.py
  src/prosemark/cli.py
  tests/test_cli.py
Due: mypy-check, pytest-check

feat: add Cursor rule files for conventions from CONVENTIONS.md
  .cursor/rules/conventions-creation.mdc
  .cursor/rules/docstrings-python.mdc
  .cursor/rules/formatting-linting-python.mdc
  .cursor/rules/hexagonal-architecture.mdc
  .cursor/rules/identifying-pytest-fixtures.mdc
  .cursor/rules/python-pep8-code-style.mdc
  .cursor/rules/testing-hexagonal-architecture.mdc
  .cursor/rules/testing-python-code.mdc
  .cursor/rules/type-annotations-python.mdc
Due: none

feat: add python conventions rule
  .cursor/rules/python-conventions.mdc
Due: none

feat: add cursor rule file for convention documentation guidelines
  .cursor/rules/cursor-rule-files.mdc
Due: none

feat: add cursor rule for synchronizing rules with CONVENTIONS.md
  .cursor/rules/cursor-rule-convention-sync.mdc
Due: none

docs: Add integration tests specification document
  TASKS.md
  specs/integration-tests.md
Due: none

feat: Implement integration tests for Prosemark application
  tests/integration/__init__.py
  tests/integration/conftest.py
  tests/integration/test_end_to_end_workflows.py
  tests/integration/test_file_system_interactions.py
  tests/integration/test_helpers.py
Due: mypy-check, pytest-check

fix: Replace node_id with id in integration test files
  tests/integration/conftest.py
  tests/integration/test_end_to_end_workflows.py
  tests/integration/test_file_system_interactions.py
  tests/integration/test_helpers.py
Due: mypy-check, pytest-check

fix: handle potential None values in integration tests
  tests/integration/conftest.py
  tests/integration/test_file_system_interactions.py
  tests/integration/test_helpers.py
Due: mypy-check, pytest-check

fix: Update integration tests to handle project creation and error messages
  tests/integration/conftest.py
  tests/integration/test_end_to_end_workflows.py
  tests/integration/test_file_system_interactions.py
Due: mypy-check, pytest-check

refactor: consolidate and simplify CONVENTIONS.md sections
  CONVENTIONS.md
Due: none

docs: refine conventions
  CONVENTIONS.md
Due: none

feat: fix project setup to allow running of CLI scripts
  pyproject.toml
Due: pytest-check

Revert "fix: Update integration tests to handle project creation and error messages"
  tests/integration/conftest.py
  tests/integration/test_end_to_end_workflows.py
  tests/integration/test_file_system_interactions.py
Due: mypy-check, pytest-check

Revert "fix: handle potential None values in integration tests"
  tests/integration/conftest.py
  tests/integration/test_file_system_interactions.py
  tests/integration/test_helpers.py
Due: mypy-check, pytest-check

Revert "feat: Implement integration tests for Prosemark application"
  tests/integration/__init__.py
  tests/integration/conftest.py
  tests/integration/test_end_to_end_workflows.py
  tests/integration/test_file_system_interactions.py
  tests/integration/test_helpers.py
Due: mypy-check, pytest-check

Revert "docs: Add integration tests specification document"
  TASKS.md
  specs/integration-tests.md
Due: none

refactor: modify project structure to use current directory as default
  src/prosemark/adapters/markdown.py
  src/prosemark/cli.py
  tests/test_adapters_markdown.py
  tests/test_cli.py
Due: mypy-check, pytest-check

test: add coverage tests for markdown adapter edge cases
  tests/test_adapters_markdown.py
Due: mypy-check, pytest-check

feat: add test case for markdown parsing with empty title
  tests/test_adapters_markdown.py
Due: mypy-check, pytest-check

fix: ensure title section is always added in markdown parsing
  src/prosemark/adapters/markdown.py
Due: mypy-check, pytest-check

Path conditions:
  mypy-check: any of: \.py$
  pytest-check: any of: \.py$, \.toml$
