Repository eykd/prosemark: changes, and which pre-commit hooks are due for each by the changed paths.
All: mypy-check, pytest-check

mypy-check:
  name: mypy-check
  entry: uv run mypy src tests
  language: system

pytest-check:
  name: pytest-check
  entry: uv run ./scripts/fulltests.sh
  language: system
  pass_filenames: false

refactor: Add type annotations and placeholder return values to Node methods
  src/prosemark/__init__.py
  src/prosemark/domain/__init__.py
  src/prosemark/domain/node.py
Due: mypy-check, pytest-check

feat: implement Node methods to improve test coverage
  src/prosemark/domain/node.py
  tests/test_node.py
Due: mypy-check, pytest-check

chore: Mark Node class implementation tasks as completed in TASKS.md
  TASKS.md
Due: none

style: format code with consistent single quotes and whitespace
  src/prosemark/domain/node.py
  tests/test_node.py
Due: mypy-check, pytest-check

feat: add py.typed marker for type checking support
  pyproject.toml
  src/prosemark/py.typed
Due: pytest-check

fix: correct hatch build sources configuration in pyproject.toml
  pyproject.toml
Due: pytest-check

fix: update hatchling build configuration for wheel target
  pyproject.toml
Due: pytest-check

refactor: rename `id` to `node_id` in Node class for clarity
  src/prosemark/domain/node.py
Due: mypy-check, pytest-check

refactor: rename node_id to id for consistency across implementation
  src/prosemark/domain/node.py
Due: mypy-check, pytest-check

fix: configure package structure for pytest imports
  pyproject.toml
  tests/conftest.py
Due: mypy-check, pytest-check

refactor: configure mypy to use src package root and mypy_path
  .aider.conf.yml
  pyproject.toml
Due: pytest-check

refactor: Improve child node handling in Node methods
  src/prosemark/domain/node.py
Due: mypy-check, pytest-check

refactor: fix linting errors with module docstring and parameter renaming
  src/prosemark/domain/node.py
Due: mypy-check, pytest-check

fix: update test to use node_id instead of id parameter
  tests/test_node.py
Due: mypy-check, pytest-check

refactor: rename test_node.py to test_domain_node.py
  tests/test_domain_node.py
Due: mypy-check, pytest-check

docs: move module docstring to top of file before imports
  src/prosemark/domain/node.py
Due: mypy-check, pytest-check

chore: fix up a couple of things
  pyproject.toml
  tests/test_node.py
Due: mypy-check, pytest-check

feat: Implement Project class with comprehensive node management methods
  TASKS.md
  src/prosemark/domain/project.py
  tests/test_domain_project.py
Due: mypy-check, pytest-check

style: format code with consistent single quotes and whitespace
  src/prosemark/domain/project.py
  tests/test_domain_project.py
Due: mypy-check, pytest-check

fix: resolve mypy type errors in project and test files
  src/prosemark/domain/project.py
  tests/test_domain_project.py
Due: mypy-check, pytest-check

fix: add type annotation to resolve mypy error in _build_structure method
  src/prosemark/domain/project.py
Due: mypy-check, pytest-check

fix: ensure child nodes have parent reset when parent is removed
  src/prosemark/domain/project.py
Due: mypy-check, pytest-check

test: add tests for circular reference and empty node structure
  tests/test_domain_project.py
Due: mypy-check, pytest-check

test: improve test coverage for project domain
  src/prosemark/domain/project.py
Due: mypy-check, pytest-check

chore: run pre-commit checks directly through uv
  .pre-commit-config.yaml
  scripts/runtests.sh
Due: none

chore: don\'t pass filenames to uv lock
  .pre-commit-config.yaml
Due: none

chore: don't pass filenames to mypy in pre-commit
  .pre-commit-config.yaml
Due: none

chore: exempt minor branches from coverage
  src/prosemark/domain/project.py
Due: mypy-check, pytest-check

refactor: Rename singular domain modules to plural forms
  src/prosemark/domain/node.py
  src/prosemark/domain/nodes.py
  src/prosemark/domain/project.py
  src/prosemark/domain/projects.py
  tests/test_domain_node.py
  tests/test_domain_project.py
Due: mypy-check, pytest-check

chore: rename test files to match new module names
  src/prosemark/domain/node.py
  src/prosemark/domain/project.py
  tests/test_domain_nodes.py
  tests/test_domain_projects.py
Due: mypy-check, pytest-check

docs: Define ProjectRepository interface specification
  TASKS.md
  specs/project-repository.md
Due: none

feat: Define ProjectRepository interface with tests and methods
  TASKS.md
  src/prosemark/domain/repositories.py
  tests/test_domain_repositories.py
Due: mypy-check, pytest-check

fix: remove unnecessary type ignore comment in test file
  tests/test_domain_repositories.py
Due: mypy-check, pytest-check

test: add pragma no cover to repository protocol methods
  src/prosemark/domain/repositories.py
Due: mypy-check, pytest-check

feat: implement markdown file adapter for project persistence
  TASKS.md
  src/prosemark/adapters/__init__.py
  src/prosemark/adapters/markdown.py
  tests/test_adapters_markdown.py
Due: mypy-check, pytest-check

fix: correct return type annotation for generator fixture
  tests/test_adapters_markdown.py
Due: mypy-check, pytest-check

refactor: update import from typing to collections.abc for Generator
  tests/test_adapters_markdown.py
Due: mypy-check, pytest-check

test: improve test coverage for MarkdownFileAdapter to reach 100%
  src/prosemark/adapters/markdown.py
  tests/test_adapters_markdown.py
Due: mypy-check, pytest-check

test: add pragma comments to improve test coverage
  src/prosemark/adapters/markdown.py
Due: mypy-check, pytest-check

Path conditions:
  mypy-check: any of: \.py$
  pytest-check: any of: \.py$, \.toml$
